<div class="sidebar-module sidebar-module-inset">
  <h4>About</h4>
  <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>
<div class="sidebar-module">
  <h4>Archives</h4>
  <ol class="list-unstyled">
    {% assign counter = 0 %}
    {% for post in site.posts %}
      {% assign thisyear = post.date | date: "%B %Y" %}
      {% assign prevyear = post.previous.date | date: "%B %Y" %}
      {% assign counter = counter | plus: 1 %}
      {% if thisyear != prevyear %}
        <li><a href="/{{ post.date | date:"%Y" }}/{{ post.date | date:"%m" }}"/>{{ thisyear }} ({{ counter }})</a></li>
        {% assign counter = 0 %}
      {% endif %}
    {% endfor %}
  </ol>
</div>
<div class="sidebar-module">
  <h4>Tags</h4>
  <div class="">
    {% capture tags %}
      {% for tag in site.tags %}
        {{ tag[0] }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    {% for tag in sortedtags %}
      <a href="/tag/{{ tag }}"><span class="label label-default">{{tag}}</span></a>
    {% endfor %}
  </div>
</div>
<div class="sidebar-module">
  <h4>Categories</h4>
  {% capture categories %}
    {% for category in site.categories %}
      {{ category[0] }}
    {% endfor %}
  {% endcapture %}
  {% assign sortedCategories = categories | split:' ' | sort %}
  <ol class="list-unstyled">
    {% for category in sortedCategories %}
      <li><a href="/category/{{category}}">{{category}}</a></li>
    {% endfor %}
  </ol>
</div>
<div class="sidebar-module">
  <h4>Connects</h4>
  <ol class="list-unstyled">
    <li><a href="https://siduko.github.io">GitHub</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
  </ol>
</div>
